<div class="row">
  <div class="col-xs-12">
    <form>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" #ingredientName>
          </div>
          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input type="number" name="amount" #ingredientAmount>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p *ngIf = "errorMsg">{{errorMsg}}</p>
            <button class="btn btn-success margin" type="button" (click) = "AddIngredient()" >Add</button>
            <button class="btn btn-danger margin" type="button" (click) = "DeleteIngredient()">Delete</button>
            <button class="btn btn-primary margin" type="button" (click) = "ClearInredient()">Clear</button>
          </div>
        </div>
    </form>
  </div>
</div>